					<div class="col-md-3 col-sm-6 col-xs-12 pricing">
            <div class="item icon">
              <div class="icon-title">
                <i class="fa {{ post.icon }}" style="color: #{{ post.color }};"></i>
              </div>
              <h3 class="title">{{ post.title }}</h3>
              {% if post.type == 'subscription' %}
                <h4 class="subtitle">{{ post.subtitle }}:</h4>
                <h4 class="subtitle"><i class="fal fa-euro-sign"></i>{{ post.subscription }}</h4>
              {% else %}
                <h4 class="subtitle">{{ post.subtitle }}</h4>
              {% endif %}
  						<h5 class="condition">{{ post.condition }}</h5>
              <div class="nb-price-section">
  						  <h5 class="limit">{{ post.nb_limit }}</h5>
  						  <h4 class="price" style="background-color: #{{ post.color }};"><i class="fal fa-euro-sign"></i> {{ post.nb_price }}</h4>
  						  <h5 class="limit">per device per month</h5>
              </div>
            </div>
          </div>
