<!-- Start primary-footer -->
		<section id="footer" class="contact-bg-2">
			<div class="container">
				<div class="row footer-content">
					<div class="col-md-12 contact text-center">
						<h4>Contacts:</h4>
						<ul>
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:info@sixsq.com">info@sixsq.com</a></li>
							<li class="fw400"><i class="fas fa-envelope fa-fw"></i><a href="mailto:support@sixsq.com">support@sixsq.com</a></li>
              <li class="fw400"><i class="fad fa-comments-alt fa-fw"></i><a href="javascript:void(0);" onclick="Intercom('show');">chat widget</a></li>
						</ul>
					</div>
				</div>
					<div class="col-md-12 mt-30 mb-20 contact text-center">
						<h4 class="mb-20">Nuvla.io is brought to you with love by <a href="https://sixsq.com">SixSq</a>, from Switzerland.</h4>
            <img style="width: 250px" src="/img/logo/logo_nuvla-io-by-sixsq.png"/>
					</div>
				</div>
			</div>
		</section>
		<!-- End primary-footer -->
