		<section class="section-contact">
			<div class="row image-contact-us animated">
				<div class="container">
					<div class="content-text text-center text-white pb-50 pt-50">
						<h2 class="text-white fw700">What’s next?</h2>
						<h3 class="text-white fw600">Start your own journey to the edge with Nuvla.io</h3>
						<p><a class="btn-sixsq all text-center text-white mt-30" href="https://nuvla.io/ui/sign-up">Start your free trial</a></p>
						<p><a class="btn-sixsq all text-center text-white mt-10" href="/demo">Request a free demo</a></p>
					</div>
				</div>
			</div>
		</section>
