<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
    <!-- <section class="section-is-it-for bg-white pb-40">
      <div class="container pt-40">
        <h2 class="text-center">App Store and Marketplace</h2>
        <h3 class="pb-20 text-center">Choose between Free and Paying Apps</h3>
        <h4 class="pb-20">App vendors sell specialised apps on the marketplace. If you are an app vendor, this is the simplest way to have your customers deploy your apps and generate revenue. If you are a customer, the marketplace is the there to help you find the right vendors. You can also capture your own apps or take advantage of the myriad of Docker images available online.<h4>
        <div class="text-center">
          <img style="max-width: 350px;" src="/img/content/app-store-securaxis.png"/>
        </div>
        <h4>Advantages:</h4>
        <ul style="list-style: none;">
          <li><i class="fad fa-check"></i> Your own apps are free on NuvlaBoxes. For apps deployed in the cloud, see below.</li>
          <li><i class="fad fa-check"></i> You only pay for deployed apps, calculated daily and invoiced monthly.</li>
          <li><i class="fad fa-check"></i> App vendors can offer discounts in the form of coupons for yearly (or longer) commitments.</li>
        </ul>
      </div>
    </section> -->
		<section class="mt-20 section-is-it-for">
			<div class="container pt-20 pb-0">
        <h2 class="text-center">Edge Device Management</h2>
        {{ page.content | markdownify }}
      </div>
			<div class="container">
        <h3 class="text-center fw600 pt-20">Pay-as-you-go without subscription (no commitment)</h3>
        <h4 class="pt-20">This is the default plan, giving you a no commitment, cancel anytime option to explore edge computing. As you increase your consumption, discounts automatically apply, giving you significant discounts.<h4> 
        <h4 class="pt-20 pb-20">Each month, we take the maximum number of devices running the <a href="https://sixsq.com/products-and-services/nuvlabox/overview">NuvlaBox</a> software and apply the best discount, giving you an optimal price.
				<div class="row justify-content-center pb-20 bg-grey1">
          {% for post in site.products-and-services %}
            {% if post.product == page.product %}
              {% if post.class == 'pricing' %}
                {% if post.type == 'no-subscription' %}
                  {% include pricing-item.html %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <h4 class="pt-0">Notes:<h4> 
				<div class="row justify-content-center pb-20 bg-grey1">
					<div class="col-md-6 col-sm-6 col-xs-12 pricing-notes">
            <ol class="ml-10">
              <li>1. Free 14-day trial available.</li>
              <li>2. Bronze support included (refer to SLA in <a href="/terms/tos">terms</a>).</li>
              <li>3. For Silver and Gold support, please contact us.</li>
              <li>4. One VPN client included per registered user.</li>
            </ol>
          </div>
					<div class="col-md-6 col-sm-6 col-xs-12 pricing-notes">
            <ol>
              <li>5. Discounts are calculated automatically, each month.</li>
              <li>6. A NuvlaBox is a computer running the NuvlaBox software.</li>
              <li>7. We do not provide hardware and no hardware cost is included in this pricing.</li>
              <li>8. Only active devices metered (e.g. no charge while devices in storage or in transit).</li>
            </ol>
          </div>
        </div>
        <hr/>
			</div>
		</section>
		<section class="mt-40 mb-50 section-is-it-for">
			<div class="container">
        <h3 class="text-center fw600">With yearly subscription</h3>
        <h4 class="pt-20 pb-20">As your fleet of edge devices grows, with our subscription plans, you reduce dramatically your per device per month costs, giving you a path to growth that is predictable and sustainable. You can upgrade your subscription plan at any time. Just get in touch with our support team.<h4> 
				<div class="row justify-content-center bg-grey1">
          {% for post in site.products-and-services %}
            {% if post.product == page.product %}
              {% if post.class == 'pricing' %}
                {% if post.type == 'subscription' %}
                  {% include pricing-item.html %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
        <h4 class="pt-40">Notes:<h4> 
				<div class="row justify-content-center pb-20 bg-grey1">
					<div class="col-md-6 col-sm-6 col-xs-12 pricing-notes">
            <ol class="ml-10">
              <li>1. Bronze support included (refer to SLA in <a href="/terms/tos">terms</a>).</li>
              <li>2. For Silver and Gold support, please contact us.</li>
              <li>3. Customer can upgrade from Moon to Solar System at any time.</li>
              <li>4. One VPN client included per registered user.</li>
            </ol>
          </div>
					<div class="col-md-6 col-sm-6 col-xs-12 pricing-notes">
            <ol>
              <li>5. A NuvlaBox is a computer running the NuvlaBox software.</li>
              <li>6. We do not provide hardware and no hardware cost is included in this pricing.</li>
              <li>7. Only active devices metered (e.g. no charge while devices in storage or in transit).</li>
              <li>8. The volume subscription gives you access to reduced pay-per-use pricing.</li>
            </ol>
          </div>
        </div>
			</div>
		</section>
		<!-- Stop what do you get? -->
    {% include whats-next.html %}
		<!-- End Section News -->	
      {% include primary-footer.html %}
    </main>
    {% include secondary-footer.html %}
  </body>
</html>
