<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="sixsq bg-grey-f9">
    {% include standard-header.html %}
	<main>
    {% include {{ page.product }}-banner.html %}
		<div class="container">
      {{ page.content }}
    </div>
		<section class="section-is-it-for">
			<div class="container">
				<div class="row justify-content-center icon-is-it-for pb-50 pt-50">
          {% for post in site.terms %}
            {% include highlighted-with-image-no-text-item.html %}
          {% endfor %}
        </div>
			</div>
		</section>
    {% include newsletter.html %}
    {% include whats-next.html %}
    {% include primary-footer.html %}
  </main>
  {% include secondary-footer.html %}
  </body>
</html>
